
<!DOCTYPE html>
<html lang="en">



<head>
  <title>Hate Speech Detector</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <style>
    body{
      background-size: auto;
      background-position: 95% 10%, 5% 10%;
      /* background-position: right center, left center; */
      background-size: 20%;
      background-attachment: inherit;
      background-repeat: no-repeat, no-repeat;
      background-color: skyblue;
      font-family: 'Work Sans', sans-serif;
    }
    h1 { color: rebeccapurple; }

  </style>

  <div id="example1" class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100">
          <div style="max-width:25%; margin-left: auto; margin-right: auto;">
          </div>

  
  <div class="login" align="center">
    <h1>Hate Speech Classifier</h1>
    <br>
    <br>
    <br>
    <h2>The use of this application is so easy, just write your tweet in the box below and then click on predict button</h2>
    <h2>to see if it is classified as hate speech or not.</h2>
    <br>
    <br>
    <br>
    <form action="{{ url_for('predict')}}"method="post">

        <input type="text" name="Input"  placeholder="Enter tweet text here"  size="80"  required="required" /><p>
          <br>
          <br>
          <br>
          <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict </button></p>
        <p class="bottom-two">
    </form>
    <br>
    <br>
    <h3 style="color:green;">
    {{ prediction_text }} </h3>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center; color: #808080;line-height: 1.2em">
      <p>Built by <a href="https://myProfile">Mohamed & Fatima</a></p>
      </div> 
  </div>
  
  
  
  
  

</body>
</html>
